<div class="content-wrapper ng-fadeInUp" ng-class="app.viewAnimation" autoscroll="false"
     ng-controller="siteDetailCtrl">
    <h3>
        <div class="pull-right">
            <a href="#/site?district_id={{model.district_id.$oid}}" class="btn btn-default" title="Go back"><em
                    class="fa fa-arrow-left"></em>&nbsp;Back</a>
            <button class="btn btn-primary" type="submit" ng-click="save()" ng-disabled="frmSite.$invalid"><em
                    class="fa fa-save"></em>&nbsp;Save
            </button>
        </div>
        <span ng-if="model._id.$oid == '-1'">Add New Site</span>
        <span ng-if="model._id.$oid != '-1'">Edit Site Details</span>
    </h3>
    <div class="row">
        <form role="form" name="frmSite" id="frmSite" novalidate ng-submit="save()">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label" for="image">Add Image</label>
                        <input type="file" nv-file-select="" uploader="uploader" name="image" id="image"/>

                        <div class="row">
                            <div class="col-sm-6 col-md-4" ng-repeat="item in uploader.queue">
                                <div class="thumbnail">
                                    <div ng-show="uploader.isHTML5"
                                         ng-thumb="{ file: item._file, width: 225 }"></div>
                                    <div class="caption">
                                        <span ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</span>

                                        <div class="pull-right">
                                            <a href ng-click="uploader.removeFromQueue(item)"
                                               title="Remove this file from upload">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Site Photos</label>

                        <div class="row">
                            <div class="col-sm-6 col-md-4" ng-repeat="item in model.photos">
                                <div class="thumbnail">
                                    <a href="/static/images/sites/{{item}}" title="Go to the large version"
                                       target="_blank">
                                        <img ng-src="/static/images/sites/{{item}}" alt="" height="100"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name">Name</label>
                        <input class="form-control" type="text" name="name" id="name" ng-minlength="4"
                               ng-class="{ 'parsley-error' : frmSite.name.$invalid && !frmSite.name.$pristine }"
                               ng-model="model.name" required/>

                        <ul class="parsley-errors-list filled"
                            ng-show="frmSite.name.$dirty && frmSite.name.$invalid">
                            <li class="parsley-required" ng-show="frmSite.name.$error.required">Site Name is
                                required
                            </li>
                            <li class="parsley-required" ng-show="frmSite.name.$error.minlength">Site Name is should
                                be at-least 4 characters
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="address">Address</label>
                        <textarea class="form-control" id="address" name="address"
                                  ng-class="{ 'parsley-error' : frmSite.address.$invalid && !frmSite.address.$pristine }"
                                  ng-model="model.address" required></textarea>
                        <ul class="parsley-errors-list filled"
                            ng-show="frmSite.address.$dirty && frmSite.address.$invalid">
                            <li class="parsley-required">Address is required</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="square_feet">Square feet(s)</label>
                        <input class="form-control" type="text" id="square_feet"
                               name="square_feet"
                               ng-class="{ 'parsley-error' : frmSite.square_feet.$invalid && !frmSite.square_feet.$pristine }"
                               ng-model="model.square_feet" required/>
                        <ul class="parsley-errors-list filled"
                            ng-show="frmSite.square_feet.$dirty && frmSite.square_feet.$invalid">
                            <li class="parsley-required" ng-show="frmSite.square_feet.$error.required">Square feet
                                number
                                is required
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="consumption">Consumption (tons)</label>
                        <input class="form-control" type="number" id="consumption" name="consumption"
                               ng-class="{ 'parsley-error' : frmSite.consumption.$invalid && !frmSite.consumption.$pristine }"
                               ng-model="model.consumption" required/>
                        <ul class="parsley-errors-list filled"
                            ng-show="frmSite.consumption.$dirty && frmSite.consumption.$invalid">
                            <li class="parsley-required" ng-show="frmSite.consumption.$error.required">
                                Enter consumption in tons
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="rebars_considered">Re-bars considered</label>
                        <input class="form-control" type="text" id="rebars_considered"
                               name="rebars_considered"
                               ng-class="{ 'parsley-error' : frmSite.rebars_considered.$invalid && !frmSite.rebars_considered.$pristine }"
                               ng-model="model.rebars_considered"/>
                        <ul class="parsley-errors-list filled"
                            ng-show="frmSite.rebars_considered.$dirty && frmSite.rebars_considered.$invalid">
                            <li class="parsley-required" ng-show="frmSite.rebars_considered.$error.required">Re-bars
                                considered is required
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="latitude">Latitude</label>
                        <input class="form-control" type="text" id="latitude"
                               name="latitude"
                               ng-class="{ 'parsley-error' : frmSite.latitude.$invalid && !frmSite.latitude.$pristine }"
                               ng-model="model.location.latitude"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="longitude">Latitude</label>
                        <input class="form-control" type="text" id="longitude"
                               name="longitude"
                               ng-class="{ 'parsley-error' : frmSite.longitude.$invalid && !frmSite.longitude.$pristine }"
                               ng-model="model.location.longitude"/>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="clearfix">
                        <div class="pull-left"></div>
                        <div class="pull-right">
                            <a class="btn btn-default" href="#/site?district_id={{model.district_id.$oid}}"
                               title="Go back!">Cancel</a>
                            <button class="btn btn-primary" type="submit" ng-disabled="frmSite.$invalid"><em
                                    class="fa fa-save"></em>&nbsp;Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
