<div class="content-wrapper ng-fadeInUp" ng-class="app.viewAnimation" autoscroll="false"
     ng-controller="userDetailCtrl">
    <h3>
        <div class="pull-right">
            <a href="#/user" class="btn btn-default" title="Go back"><em class="fa fa-arrow-left"></em>&nbsp;Back</a>
            <button class="btn btn-primary" type="submit" ng-click="save()" ng-disabled="frmUser.$invalid"><em
                    class="fa fa-save"></em>&nbsp;Save
            </button>
        </div>
        <span ng-if="model._id.$oid == '-1'">Add New User</span>
        <span ng-if="model._id.$oid != '-1'">Edit User Details</span>
    </h3>
    <div class="row">
        <form role="form" name="frmUser" id="frmUser" novalidate ng-submit="save()">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label" for="name">Name</label>
                        <input class="form-control" type="text" name="name" id="name" ng-minlength="4"
                               ng-class="{ 'parsley-error' : frmUser.name.$invalid && !frmUser.name.$pristine }"
                               ng-model="model.name" required/>

                        <ul class="parsley-errors-list filled"
                            ng-show="frmUser.name.$dirty && frmUser.name.$invalid">
                            <li class="parsley-required" ng-show="frmUser.name.$error.required">Name is
                                required
                            </li>
                            <li class="parsley-required" ng-show="frmUser.name.$error.minlength">Name is should
                                be at-least 4 characters
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">Email</label>
                        <input class="form-control" type="email" id="email" name="email"
                               ng-class="{ 'parsley-error' : frmUser.email.$invalid && !frmUser.email.$pristine }"
                               ng-model="model.email" required/>
                        <ul class="parsley-errors-list filled"
                            ng-show="frmUser.email.$dirty && frmUser.email.$invalid">
                            <li class="parsley-required">Email is required</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="phone">Phone</label>
                        <input class="form-control" type="text" id="phone" ng-maxlength="10"
                               name="phone"
                               ng-class="{ 'parsley-error' : frmUser.phone.$invalid && !frmUser.phone.$pristine }"
                               ng-minlength="10" maxlength="10" ng-model="model.phone" required/>
                        <ul class="parsley-errors-list filled"
                            ng-show="frmUser.phone.$dirty && frmUser.phone.$invalid">
                            <li class="parsley-required" ng-show="frmUser.phone.$error.required">Phone number
                                is required
                            </li>
                            <li class="parsley-required" ng-show="frmUser.phone.$error.minlength">Should be
                                exactly 10 digits
                            </li>
                            <li class="parsley-required" ng-show="frmUser.phone.$error.maxlength">Should be
                                exactly 10 digits
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Roles</label><br/>
                        <label ng-repeat="role in roles">
                            <input type="checkbox" checklist-model="model.roles" checklist-value="role.id"> {{role.text}}
                            <span style="margin-left:15px;"></span>
                        </label>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="clearfix">
                        <div class="pull-left"></div>
                        <div class="pull-right">
                            <a class="btn btn-default" href="#/user" title="Go back!">Cancel</a>
                            <button class="btn btn-primary" type="submit" ng-disabled="frmUser.$invalid"><em
                                    class="fa fa-save"></em>&nbsp;Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>