<div class="content-wrapper ng-fadeInUp" ng-class="app.viewAnimation" autoscroll="false"
     ng-controller="dealerListCtrl">
    <h3>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    {{selected_district_name}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right animated fadeInUpShort" role="menu">
                    <li ng-repeat="item in districts">
                        <a href="#/dealer?district_id={{selected_district_id}}"
                           ng-click="setDistrict(item._id.$oid)"><span
                                ng-bind-html="item._id.$oid | show_check_mark: selected_district_id"></span>
                            {{item.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="pull-right">
                <a href="#/dealer/-1?district_id={{selected_district_id}}" class="btn btn-success" title="Create new dealers"><em
                        class="fa fa-plus"></em>&nbsp;New</a>
            </div>
        </div>
        Dealer Management
    </h3>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <th>District</th>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th class="text-center">Action</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in dealers" ng-class="{'text-danger': !item.status}">
                            <td>{{getDistrictName(item.district_id.$oid)}}</td>
                            <td><a href="#/dealer/{{item._id.$oid}}"
                                   title="Click to edit this item!">{{item.name}}</a></td>
                            <td>{{item.contact_name}}</td>
                            <td>{{item.phone}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.address}}</td>
                            <td class="text-center">
                                <a ng-if="item.status" href="#/dealers" ng-click="deleteDealer(item._id.$oid)"
                                   title="Click to delete"><em
                                        class="fa fa-trash"></em></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
