.aside-collapsed .wrapper > footer, .aside-collapsed .wrapper > section {
    margin-left:0px;
}

.brand-logo-collapsed > h2{
margin:5px;
color:#fff;
}


div.login {
    background-color: #23b7e5;
    background-image: linear-gradient(to right, #23b7e5 0px, #51c6ea 100%);
    height: 100%;
    opacity: 1.0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1051;
}

.login-header {
    display: block;
    height: 40px;
    padding: 10px;
}

.login-body {
    background: none repeat scroll 0 0 #fff;
    margin: 10% auto 0;
    padding: 20px;
    width: 30%;
    border-radius: 8px;
}

.login-body > h2 {
    margin: 0 0 20px;
}
